body {
    font-family: "Comic Sans MS", sans-serif;
    background-color: burlywood;
}

.header {
    color: fuchsia;
}

h1 {
    font-size: 80px;
}

.photos {
    background-color: coral;
}

.img {
    width: 300px;
    border: solid red 10px;
}

.photos .header {
    font-size: 42px;
    color: aqua;
}

.videos {
    text-align: right;
    background-color: darkcyan;
}

.videos .header {
    font-size: 42px;
    color: chartreuse;
}

.link {
    font-size: 32px;
}

.clock {
    float: right;
    text-align:center;
    border: 1px Black solid;
    background: LightYellow;
    padding: 10px;
    margin:20px;
}

.clockdate {
    color: DarkRed;
    margin-bottom: 10px;
    font-size: 18px;
    display: block;
}
.clocktime {
    border: 2px inset White;
    background: Black;
    padding: 5px;
    font-size: 14px;
    font-family: "Courier";
    color: LightGreen;
    margin: 2px;
    display: block;
}
